{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h1>{% translate "Reparto de exámenes" %}</h1>
  <p>{% translate "Selecciona la asignatura de EvAU de la que obtener la tabla de repartos." %}</p>
  <br />
  <!-- Display mean and total moves -->
  {% if mean %}
    <!-- data is present -->
    <h2>{{ nombre_asignatura }}</h2>
    <p>Mean: {{ mean }}</p>
    <p>Total Moves: {{ total_moves }}</p>
    <!-- Table to show move details -->
    <div id="tablas-y-listas">
      <table width="80%"
             border="1"
             class="table table-striped"
             summary="Tabla con los movimientos">
        <caption>
          Tabla describiendo los movimientos de exámenes entre sedes
        </caption>
        <thead>
          <tr>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          {% for move in move_details %}
            <tr>
              <td>{{ move.from_HQ }}</td>
              <td>{{ move.to_HQ }}</td>
              <td>{{ move.num_moves }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <br />
    <form action="{% url 'tribunales:moves' %}" method="get">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="select-1">Listado de asignaturas</label>
        </div>
        <select name="asignatura" id="asignatura">
          <option selected>Elige una opción</option>
          {% for asignatura in asignaturas %}
            <option value="{{ asignatura.COD_ASIGNATURA }}">{{ asignatura.ASIGNATURA }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="primaryAction btn btn-primary">Seleccionar</button>
    </form>
  </div>
{% endblock content %}
