{% extends "base.html" %}

{% block content %}
  <div class="container" id="alerts"></div>
  <div class="container">
    <div id="app">
      <h1>Bienvenidos al reparto...</h1>
      <p>Se puede incluir una breve descripción de instruccciones y teléfonos de contacto</p>
      <h5>
        Como se utiliza por personal interno, las opciones que habitualmente aparecen en una APP no se están desarrollando en este momento&nbsp;&nbsp;
      </h5>
      <br />
    </div>
  </div>
{% endblock content %}
